body {
	margin: 0;
	overflow-x:scroll;
	white-space: nowrap;
	background-color: #3874e0;
	font-family: Arial;
}

#nav {
	background-color: #2853a0;
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
	position: fixed;
	top:0px;
	z-index: 100;
	display:inline-block;
}

/*Boards Button*/
#boardsbutton {
	left: 0;
	margin-left: 10px;
	background-color: #5d93ea;
	color: #ffffff;
	position: absolute;
	top: 10px;
	padding: 5px;
	border-radius: 5px;
}

#boards {
	background-color: #e8e8e8;
	width: 300px;
	display: none;
	position: fixed;
}

#boardsbutton:hover #boards, #optionsbutton:hover #options{
	display:block;
}

#boards ul, #options ul {
	padding: 0;
	list-style-type: none;
}

#boards ul li {
	padding: 8px 5px;
	margin: 10px 5px;
	background-color: #a4c5f9;
	border-radius: 5px;
}

#boards p {
	margin: 15px 10px;
	color: #adadad;
}


/*Prello*/
#logo {
	margin:auto;
	text-align: center;
	color: #ffffff;
	padding: 10px;
}



/*Options Button*/
#optionsButton {
	position: absolute;
	right: 0;
	margin-right: 10px;
	background-color: #5d93ea;
	color: #ffffff;
	top: 10px;
	padding: 5px;
	border-radius: 5px;
}

#options {
	margin: 10px 10px;
	background-color: #e8e8e8;
	width: 300px;
	display: none;
	position: fixed;
	right:0;
	top: 5px;
}


#user {
	margin-top: 10px;
	text-align: center;
	color: #5d5f63;
}


#options ul li {
	padding: 8px 5px;
	margin: 10px 5px;
	color: #5d5f63;
}




/*Board Name*/
#boardname {
	margin-left: 30px;
	color: #ffffff;
	position: relative;
	margin-top: 70px;
}


/*List of lists*/
#listdiv {
	margin-left: 30px;
}

/*list of list*/
#mainlist {
	margin:0;
	padding:0;
	list-style-type: none;
}

.list { 
	display: inline-block;
	background: #dbdbdb;
	padding:10px;
	border-radius: 5px;
	margin: 0 10px;
	vertical-align: top;
}

.listname {
	font-weight: bold;
	font-size: 16px;
}

.list:first-child {
	margin-left: 0;
}

/*cardlist in the list*/
.cardlist {
	padding: 0;
}

#mainlist .cardpreview:first-child {
	margin-left: 5px;
}

#mainlist .cardpreview {
	width:200px;
	background-color: #f2f2f2;
	display: block;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 5px;
}

#mainlist .cardpreview:hover, .addcard:hover, #addlist:hover, .deleteList:hover {
	background-color: #adadad;
}






/*Card*/
.cardmodal {
	display: none;
	position: fixed;
	z-index: 101;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	width: 100%
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#card {
	padding: 10px;
	width: 60%;
	background-color: #fefefe;
	white-space: normal;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#cardtitle {
	margin: 10px 0;
}

#card h6 {
	margin: 0;
}

#memberslist {
	display:inline-flex;
	width: 100%;
	padding: 0;
	margin: 5px 0 10px 0;
	list-style-type: none;
}

.member:first-child {
	margin-left: 0;
}

.member {
	width: 30px;
	height: 30px;
	background-color: pink;
	text-align: center;
	vertical-align: text-top;
	margin: 0 5px;
}

 #labels {
	list-style-type: none;
	margin: 5px 0 10px 0;
	display: inline-flex;
	padding: 0px;

}

#labels li {
	width: 50px;
	height: 25px;
	margin: 0 5px;
	border-radius: 5px;
}

#labels li:first-child{
	margin-left: 0;
}



#carddesc{
	font-size: 14px;
	margin: 5px 0 10px 0;
}


#deleteCard, #addlabels{
	margin-top: 10px;
	border-style: none;
	background-color:#dbdbdb;
	border-radius: 5px;
}

#addlabels {
	margin-top: 0;
	margin-bottom: 10px;
}

#deleteCard:hover, #addlabels:hover, .deflabel:hover{
	background-color: #3874e0;
	color: #ffffff;
}



#labelchooser {
	list-style-type: none;
	display:none;
	z-index: 102; 
}

.addCard {
	margin-top: 10px;
	width: 230px;
}

.deleteList {
	position: absolute;
	overflow: hidden;
	display: inline-block;
	margin-left: 210;
}

#comments {
	font-size: 14px;
	padding-left: 15px;
	margin: 5px 0 0 0;
}

#comments li {
	margin: 0 0 10px 0;
}

.deflabel {
	width: 50px;
	height: 25px;
	margin: 0 5px;
	border-radius: 5px;
}



#deflabel li:first-child{
	margin-left: 0;
}
