<%- include('header', {title: title, style: '/stylesheets/boardNotFound.css', username: username }); %>

<div id = "error">
	<h2>Board not found</h2>
	<h4>This board may be private. You may be able to view it by <a href="http://localhost:3000/login">logging in.</a></h4>
</div>

<%- include('footer', {script: null}); %>
