<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Prello </title>
    <link rel='stylesheet' href= <%= style %> />
 </head>

<body>
	<%- include('header', {username: username }); %>


	<div id="boardsdiv">
	  <h3 id="title"> Personal Boards </h3>
	  <ul id="boards">
	  	<li>Board 1</li>
	  	<li id="addBoard">Create new board...</li>
	  </ul>
	</div>
	
	<%- include footer %>

</body>
</html>
