	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/header.js"></script>
	<script type="text/javascript" src= <%= script %> ></script>
</body>
</html>