<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Prello </title>
    <link rel='stylesheet' href= '/stylesheets/header_stylesheet.css'/>
    <link rel='stylesheet' href= '<%= style %>'/>
 </head>

<body>	
	<div id="nav">
		<div id="boardsButton" class='menuButton'>Boards
		  	<div class='menu' id="boardsMenu"> 
		 		<ul id="boardMenuList"></ul>
		 		<p>Create new board...</p>
		 		<p>Always keep this menu open.</p>
		 		<p>See closed boards...</p>
		 	</div>
		</div>
		<a id="logo" href="http://localhost:3000/dashboard">Prello</a> 
		<div id="optionsButton" class='menuButton'>Options
		  	<div class='menu' id="optionsMenu">
		  		<div id="user"><%= username %></div>
		 		<ul>
		 			<li>Profile</li>
		 			<li>Cards</li>
		 			<li>Settings</li>
		 			<li>Help</li>
		 			<li>Shortcuts</li>
		 			<li>Change Language...</li>
		 			<li id="logout">Log Out</li>
		 		</ul>
		 	</div>
		</div>
	</div>
