<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Prello </title>
    <link rel='stylesheet' href= <%= style %> />
 </head>

<body>
	<%- include('header', {username: username}); %>

<!-- Board Name -->
 	<h3 id="boardName">Board Name</h3>

<!-- Boards -->
 	<div id="listDiv">
 		<ul id="outerList"></ul>
	 	<span id="addListSpan">Add a list...</span>
 		<div id="addList">
 			<form id="listForm">
	 			<input type="text" id="listInput" placeholder="Add a list..." autocomplete="off">
		 		<input type="submit" value="Save" id="listSubmit">
		 		<div id='closeListForm'>&#10006</div>
 			</form>
 		</div>
 	</div>

<!-- Card Modal -->
 	<div id="cardModal"> 	</div>
	<div id="card">
 		<h3 id = "cardTitle"></h3>
 		<h6>Members</h6>
 		<ul id="membersList"></ul>
 		<h6>Labels</h6>
 		<ul id="labels"></ul>
 		<div id="addLabelsDiv">
 			<ul id="labelList"></ul>
 			<div id="addLabelsButton">+</div>
 		 	<div id="labelDiv">
		 		<h4>Labels</h4>
		 		<ul>
		 			<li data-color="#61bd4f"></li>
		 			<li data-color="#f2d600"></li>
		 			<li data-color="#ffab4a"></li>
		 			<li data-color="#eb5a46"></li>
		 			<li data-color="#c377e0"></li>
		 			<li data-color="#0079bf"></li>	
		 		</ul>
		 		<div class="label"></div>
		 	</div>
 		</div>
 		<h6>Description</h6>
 		<p id="desc"></p>
 		<h6>Comments</h6>
 		<ul id="commentList"></ul>
 		<textarea id ="commentInput" placeholder="Write a comment..."></textarea>
 		<button type="button" id="saveComment">Save</button>
 		<button type="button" id="deleteCard">Delete Card</button>
 	</div>

	<%- include footer %>


	<script src="javascripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="javascripts/board.js"></script>
</body>
</html>
