<%- include('header', {title: title, style: '/stylesheets/board_stylesheet.css', username: username}); %>

<script src="/socket.io/socket.io.js"></script>


<!-- Board Name -->
	<div id="boardNameDiv"> 
	 	<div id="boardName"></div>
	 	<div id="addUsersButton">···</div>
 		<div id="addUsers">
 			<form id="usersForm">
	 			<input type="text" id="userInput" placeholder="Enter username to add..." autocomplete="off">
		 		<input type="submit" value="Add" id="userSubmit">
 			</form>
 			<div id="userListTitle">Board Members:</div>
 			<ul id="currentUsers"></ul>
 		</div>
 	</div>

<!-- Boards -->
 	<div id="listDiv">
 		<ul id="outerList"></ul>
	 	<span id="addListSpan">Add a list...</span>
 		<div id="addList">
 			<form id="listForm">
	 			<input type="text" id="listInput" placeholder="Add a list..." autocomplete="off">
		 		<input type="submit" value="Save" id="listSubmit">
		 		<div id='closeListForm'>&#10006</div>
 			</form>
 		</div>
 	</div>

<!-- Card Modal -->
 	<div id="cardModal"> 	</div>
	<div id="card">
 		<h3 id = "cardTitle"></h3>
 		<h6 id="author"></h6>
 		<h6>Labels</h6>
 		<ul id="labels"></ul>
 		<div id="addLabelsDiv">
 			<ul id="labelList"></ul>
 			<div id="addLabelsButton">+</div>
 		 	<div id="labelDiv">
		 		<h4>Labels</h4>
		 		<ul>
		 			<li data-color="#61bd4f"></li>
		 			<li data-color="#f2d600"></li>
		 			<li data-color="#ffab4a"></li>
		 			<li data-color="#eb5a46"></li>
		 			<li data-color="#c377e0"></li>
		 			<li data-color="#0079bf"></li>	
		 		</ul>
		 		<div class="label"></div>
		 	</div>
 		</div>
 		<h6>Description</h6>
 		<p id="desc"></p>
 		<div id="addDescDiv">
	  		<textarea id ="descInput" placeholder="Write a description.."></textarea>
	 		<button type="button" id="saveDesc">Save</button>
	 	</div>
 		<h6>Comments</h6>
 		<textarea id ="commentInput" placeholder="Write a comment..."></textarea>
 		<button type="button" id="saveComment">Save</button>
  		<ul id="commentList"></ul>
 		<button type="button" id="deleteCard">Delete Card</button>
 	</div>

<%- include('footer', {script: "/javascripts/board.js"}); %>
