body {
	margin: 0;
	overflow-x: scroll;
	white-space: nowrap;
	background-color: #0079bf;
	font-family: Arial;
}


/*Board Name*/
#boardName {
	color: #ffffff;
	position: relative;
	margin: 70px 0 10px 30px;
}

/*List of lists*/
#listDiv {
	margin-left: 30px;
	display: inline-block;

}

#outerList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	max-height: 80%
}

/*Individual List*/
.list { 
	display: inline-block;
	background: #e2e4e6;
	border-radius: 5px;
	margin: 0 10px;
	vertical-align: top;
	width: 240px;
	overflow-y: auto;
 }

.list:first-child {
	margin-left: 0;
}

.listName {
	font-color: #363636;
	font-weight: bold;
	font-size: 16px;
	display: inline-block;
	margin: 10px 0 0 12px;
}

#addListDiv {
	display:inline-block;
	vertical-align: top;
	z-index: 102;
}

#listForm {
	display: inline-block;
	width: 100%;
	background-color: #e2e4e6;
}

#newList {
	z-index: 102;
	background-color:pink;
	width: 200px;
	margin: 0 auto;
}

#addListSpan {
	color: #a4cae0;
	display: inline-block;
	margin: 0;
	position: absolute;
	padding: 10px 5px 10px 15px;
	border-radius: 5px;
	width: 220px;
	height: 20px;
	background-color: #006699;
}

#addList {
	display: none;
	border-radius: 5px;
	width: 240px;
	font-size: 16px;
	height: 80px;	
	border: none;
	text-align:left;
	background-color: #006699;
}




form {
	margin: 0;
	border-radius: 5px;
	height: 80px;
	display: block;
}

.cardInput{
	border:none;
	padding-left: 5px;
	margin: 0;
	width: 220px;
	margin: 5px 10px;
	position: absolute;
	height: 36px;
	border-radius: 5px;
	font-size: 16px;
	background-color: #ffffff;
}

#listInput{
	border:none;
	padding-left: 5px;
	margin: 0;
	width: 220px;
	margin: 5px 10px;
	position: absolute;
	height: 36px;
	border-radius: 5px;
	font-size: 16px;
	background-color: #d1d1d1;
}

#listSubmit, #cardSubmit{
	display: block;
	position: absolute;
	margin-top: 45px;
	margin-left: 10px;
	border: none;
	font-size: 16px;
	padding: 4px 15px;
	font-weight: bold;
	border-radius: 5px;
	color: #ffffff;
	background-color: #579547;
}

.submitCard{
	display: block;
	position: absolute;
	margin-top: 45px;
	margin-left: 10px;
	border: none;
	font-size: 16px;
	padding: 4px 15px;
	font-weight: bold;
	border-radius: 5px;
	color: #ffffff;
	background-color: #579547;
}

/*Add card*/
.addCard { /*button*/
	height: 35px;
	width: 100%;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-align: left;
	padding-left: 12px;
	display:block;
}

.addCardDiv {
	display: none;
	border-radius: 5px;
	width: 240px;
	font-size: 16px;
	height: 80px;	
	border: none;
	text-align:left;
	background-color: #e2e4e6;
	margin-top: 5px;
}

.closeCardForm, #closeListForm{
	display:inline-block;
	position: absolute;
	margin-top: 44px;
	margin-left: 85px;
	font-size: 20px;
	color: #aaaaaa;
}

.closeCardForm:hover, .deleteList:hover, #closeListForm:hover{
	color: #363636;
}


/*Card Previews/Inner List*/
.cardList {
	padding: 0 5px;
}

.cardList li {
	color: #363636;
	width: 200px;
	background-color: #f2f2f2;
	display: block;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 5px;
	overflow: hidden;
	min-height: 23px;
	white-space: nowrap;
}

.cardList li:first-child {
	margin-left: 5px;
}

.cardList li:last-child {
	margin-bottom: 0;
}

.cardList li:hover, .addcard:hover, #addLabelsButton:hover {
	background-color: #adadad;
}

#addListSpan:hover {
	background-color: #015887;
}

.cardList li .cardTitle {
	margin: 3px 0;
	word-wrap: break-word;
	white-space: pre-line;

}

/*Delete List Button*/
.deleteList {
	display: inline-block;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	color: #aaaaaa;
}

/*Card*/
#cardModal {
	display: none;
	position: fixed;
	z-index: 101;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	width: 100%
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#card {
	display: none;
	z-index: 102;
	padding: 10px;
	width: 60%;
	background-color: #e2e4e6;
	white-space: normal;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#cardTitle {
	margin: 10px 0;
}

#card h6 {
	margin: 0;
}

/*Members*/
#membersList {
	display: inline-flex;
	width: 100%;
	padding: 0;
	margin: 5px 0 10px 0;
	list-style-type: none;
}

.member:first-child {
	margin-left: 0;
}

.member {
	width: 30px;
	height: 30px;
	background-color: pink;
	text-align: center;
	vertical-align: text-top;
	margin: 0 5px;
}

/*Description*/
#desc {
	font-size: 14px;
	margin: 5px 0 10px 0;
}

/*Comments*/
#comments {
	font-size: 14px;
	padding-left: 15px;
	margin: 5px 0 0 0;
}

#comments li {
	margin: 0 0 10px 0;
}

/*Card Buttons*/
#deleteCard {
	margin-top: 10px;
	border-style: none;
	background-color: #eb5a46;
	border-radius: 5px;
	padding: 5px 10px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	float: right;
}

#deleteCard:hover {
	background-color: #99392c
}

/*Labels*/
 #labels {
	list-style-type: none;
	margin: 5px 0 10px 0;
	display: inline-block;
	padding: 0px;

}

#labels li {
	width: 50px;
	height: 25px;
	margin: 0 5px;
	border-radius: 5px;
}

#labels li:first-child {
	margin-left: 0;
}

/*Label Chooser*/
#addLabelsDiv {
	margin-top: 0;
	margin-bottom: 10px;
	display: inline-block;
	margin-left: 0;
}

#addLabelsButton {
	border: none;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	font-size: 20px;
	background-color: #fefefe;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}

#labelDiv {
	width: 280;
	height: 300;
	background-color: #e2e4e6;
	border-radius: 5px;
	box-shadow: 0 0 7px #888888;
	display: none;
	position: fixed;
}

#labelDiv h4 {
	text-align: center;
	margin: 0;
	padding-top: 10px;
	color: #363636;
}

#labelDiv ul {
	list-style-type: none;
	padding: 0 20px;
	margin: 0;
}

#labelDiv ul li {
	background-color: pink;
	margin: 5px 0;
	width: 240px;
	height: 35px;
	border-radius: 5px;
}

.cardLabels {
	margin: 0 5px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}

#labelList {
	margin: 0;
	display:inline-block;
	padding: 0;
}

.labelPreview {
	width: 30px;
	height: 8px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 4px;
}

#commentInput {
	overflow: hidden;
	word-wrap: break-word;
	height: 75px;
	display: block;
	width: 60%;
	background-color: #fefefe;
	border-radius: 5px;
}

#saveComment {
	margin-top: 10px;
	border-style: none;
	background-color: #61bd4f;
	border-radius: 5px;
	padding: 5px 10px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-family: Arial;
}

#commentList {
	margin: 5px 0;
	padding: 0;
}

#commentList li {
	list-style-type: none;
}

#saveComment:hover {
	background-color: #3a722f;
}

#userDiv {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	margin: 4px 0;
}

#commentDiv {
	display: table;
	background-color: #ffffff;
	border-color: rgb(169, 169, 169);
	width: auto;
	border-radius: 5px;
	font-size: 14px;
	padding: 4px;
}

#datetimeDiv {
	margin-left: 10px;
	display: inline-block;
	font-size: 12px;
}