html, body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	font-family: Arial;
	display: table-cell;
	vertical-align: middle;
}

input {
	background-color: #dbdde0;
	width: 100%;
	padding: 15px 20px;
	margin-top: 10px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 20px;
}

h1 {
  color: #434444;
  margin: 16px 0;
}

form {
  color: #434444;
}

#forgotdiv {
	margin: 10 auto;
	width: 500px;
}


button {
  background-color: #24a02d;
  border: none;
  padding: 15px 80px;
  color: #ffffff;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px;
}

#alert {
	display: none;
    padding: 20px;
    background-color: #24a02d;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
#close{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
#close:hover {
    color: black;
}